BZ_PORT=8080
BZ_ADMIN_EMAIL=admin@bugzilla.test
BZ_ADMIN_REALNAME=Test Administrator
BZ_ADMIN_PASSWORD=<generated-by-make-init>
BZ_DB_PASSWORD=<generated-by-make-init>
MARIADB_ROOT_PASSWORD=<generated-by-make-init>
BZ_ALLOW_UNSAFE_UTF8_CONVERSION=0
